---
export interface Props {
	title: string;
	body: string;
}

const { title, body } = Astro.props;
---

<div class="card">
	<h3>
		{title}
		<span>&rarr;</span>
	</h3>
	<p>
		{body}
	</p>
</div>
<style>
	.card {
		padding: var(--size-m);
		background: var(--color-secondary);
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: var(--shadow-primary-s);
		outline: var(--outline-primary);
	}

	h2 {
		margin: 0;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}

	p {
		margin-top: 0.75rem;
		margin-bottom: 0;
	}

	h2 span {
		display: inline-block;
		transition: transform 0.3s cubic-bezier(0.22, 1, 0.36, 1);
	}
</style>
